<div class="show-toolbar clearfix">
    <!--<ul class="control-li-type">-->
        <!--<li>选定数据</li>-->
        <!--<li>隐藏该列</li>-->
    <!--</ul>-->
    <ul>
        <li td-switch="num">num</li>
        <li td-switch="PushID">PushID</li>
        <li td-switch="Click">Click</li>
        <li td-switch="Show">Show</li>
        <li td-switch="ClickShow">Click/Show</li>
        <li td-switch="DSTART">D/START</li>
        <li td-switch="DFINISH">D/FINISH</li>
        <li td-switch="ISTART">I/START</li>
        <li td-switch="IFINISH">I/FINISH</li>
        <li td-switch="Toastclick">Toastclick</li>
        <li td-switch="Toastclose">Toastclose</li>
        <li td-switch="None">None</li>
        <li td-switch toggle-alluser="All">All</li>
        <li td-switch toggle-alluser="USER">USER</li>
        <li td-switch toggle-alluser="AllUSER">All/USER</li>
    </ul>
</div>
<table id="neeya-table" class="table bordered">
    <thead>
        <tr>
            <th ng-hide="num" rowspan="2">Num</th>
            <th ng-hide="PushID" rowspan="2">Push ID</th>
            <th ng-hide="Show" rowspan="1" colspan="2">Show</th>
            <th ng-hide="Click" rowspan="1" colspan="2">Click</th>
            <th ng-hide="ClickShow" rowspan="1" colspan="2">Click/Show</th>
            <th ng-hide="DSTART" rowspan="1" colspan="2">D/START</th>
            <th ng-hide="DFINISH" rowspan="1" colspan="2">D/FINISH</th>
            <th ng-hide="ISTART" rowspan="1" colspan="2">I/START</th>
            <th ng-hide="IFINISH" rowspan="1" colspan="2">I/FINISH</th>
            <th ng-hide="Toastclick" rowspan="1" colspan="2">Toastclick</th>
            <th ng-hide="Toastclose" rowspan="1" colspan="2">Toastclose</th>
            <th ng-hide="None" rowspan="1" colspan="2">None</th>
        </tr>
        <tr class="selectChartData">
            <th chardata-select chartdata-name="show" chartdata-type="all" colspan={{spanNum}} ng-hide="(Show || all)">ALL</th>
            <th chardata-select chartdata-name="show" chartdata-type="user" colspan={{spanNum}} ng-hide="(Show || user)">User</th>
            <th chardata-select chartdata-name="Click" chartdata-type="all" colspan={{spanNum}} ng-hide="(Click || all)">ALL</th>
            <th chardata-select chartdata-name="Click" chartdata-type="user" colspan={{spanNum}} ng-hide="(Click || user)">User</th>
            <th chardata-select chartdata-name="ClickShow" chartdata-type="all" colspan={{spanNum}} ng-hide="(ClickShow || all)">ALL</th>
            <th chardata-select chartdata-name="ClickShow" chartdata-type="user" colspan={{spanNum}} ng-hide="(ClickShow || user)">User</th>
            <th chardata-select chartdata-name="DSTART" chartdata-type="all" colspan={{spanNum}} ng-hide="(DSTART || all)">ALL</th>
            <th chardata-select chartdata-name="DSTART" chartdata-type="user" colspan={{spanNum}} ng-hide="(DSTART || user)">User</th>
            <th chardata-select chartdata-name="DFINISH" chartdata-type="all" colspan={{spanNum}} ng-hide="(DFINISH || all)">ALL</th>
            <th chardata-select chartdata-name="DFINISH" chartdata-type="user" colspan={{spanNum}} ng-hide="(DFINISH || user)">User</th>
            <th chardata-select chartdata-name="ISTART" chartdata-type="all" colspan={{spanNum}} ng-hide="(ISTART || all)">ALL</th>
            <th chardata-select chartdata-name="ISTART" chartdata-type="user" colspan={{spanNum}} ng-hide="(ISTART || user)">User</th>
            <th chardata-select chartdata-name="IFINISH" chartdata-type="all" colspan={{spanNum}} ng-hide="(IFINISH || all)">ALL</th>
            <th chardata-select chartdata-name="IFINISH" chartdata-type="user" colspan={{spanNum}} ng-hide="(IFINISH || user)">User</th>
            <th chardata-select chartdata-name="Toastclick" chartdata-type="all" colspan={{spanNum}} ng-hide="(Toastclick || all)">ALL</th>
            <th chardata-select chartdata-name="Toastclick" chartdata-type="user" colspan={{spanNum}}  ng-hide="(Toastclick || user)">User</th>
            <th chardata-select chartdata-name="Toastclose" chartdata-type="all" colspan={{spanNum}} ng-hide="(Toastclose || all)">ALL</th>
            <th chardata-select chartdata-name="Toastclose" chartdata-type="user" colspan={{spanNum}} ng-hide="(Toastclose || user)">User</th>
            <th chardata-select chartdata-name="None" chartdata-type="all" colspan={{spanNum}} ng-hide="(None || all)">ALL</th>
            <th chardata-select chartdata-name="None" chartdata-type="user" colspan={{spanNum}} ng-hide="(None || user)">User</th>
        </tr>
    </thead>
    <tbody>
    <tr tr-select ng-class="{isInfo:'info'}" ng-repeat="(name,val) in mydata">
        <td ng-hide="num" ng-bind="$index"></td>
        <td ng-hide="PushID" ng-bind="name"></td>
        <td colspan={{spanNum}} ng-hide="(Show || all)" ng-bind="val.SHOW.NONE.all"></td>
        <td colspan={{spanNum}} ng-hide="(Show || user)" ng-bind="val.SHOW.NONE.user"></td>
        <td colspan={{spanNum}} ng-hide="(Click || all)" ng-bind="val.CLICK.NONE.all"></td>
        <td colspan={{spanNum}} ng-hide="(Click || user)" ng-bind="val.CLICK.NONE.user"></td>
        <td colspan={{spanNum}} ng-hide="(ClickShow || all)" ng-bind="val.CLICK.NONE.all/val.SHOW.NONE.all  | percent ">%</td>
        <td colspan={{spanNum}} ng-hide="(ClickShow || user)" ng-bind="val.CLICK.NONE.user/val.SHOW.NONE.user  | percent">%</td>
        <td colspan={{spanNum}} ng-hide="(DSTART || all)" ng-bind="val.DOWNLOAD.START.all"></td>
        <td colspan={{spanNum}} ng-hide="(DSTART || user)" ng-bind="val.DOWNLOAD.START.user"></td>
        <td colspan={{spanNum}} ng-hide="(DFINISH || all)" ng-bind="val.DOWNLOAD.FINISH.all"></td>
        <td colspan={{spanNum}} ng-hide="(DFINISH || user)" ng-bind="val.DOWNLOAD.FINISH.user"></td>
        <td colspan={{spanNum}} ng-hide="(ISTART || all)" ng-bind="val.INSTALL.START.all"></td>
        <td colspan={{spanNum}} ng-hide="(ISTART || user)" ng-bind="val.INSTALL.START.user"></td>
        <td colspan={{spanNum}} ng-hide="(IFINISH || all)" ng-bind="val.INSTALL.FINISH.all"></td>
        <td colspan={{spanNum}} ng-hide="(IFINISH || user)" ng-bind="val.INSTALL.FINISH.user"></td>
        <td colspan={{spanNum}} ng-hide="(Toastclick || all)" ng-bind="val.DISMISS.TOASTCLICKED.all"></td>
        <td colspan={{spanNum}} ng-hide="(Toastclick || user)" ng-bind="val.DISMISS.TOASTCLICKED.user"></td>
        <td colspan={{spanNum}} ng-hide="(Toastclose || all)" ng-bind="val.DISMISS.TOASTCLOSED.all"></td>
        <td colspan={{spanNum}} ng-hide="(Toastclose || user)" ng-bind="val.DISMISS.TOASTCLOSED.user"></td>
        <td colspan={{spanNum}} ng-hide="(None || all)" ng-bind="val.DISMISS.NONE.all"></td>
        <td colspan={{spanNum}} ng-hide="(None || user)" ng-bind="val.DISMISS.NONE.user"></td>
    </tr>
    </tbody>
</table>