@import "base";
@import "functionLib";
@import "var";
@import "ngClass";
//@import "animate";
.metro{
  .navigation-bar{
    .element{
      cursor: pointer;
    }
    z-index: 20;
    position: fixed;
    #datepicker{
      float: right;
    }
    .export-table{
      color: #fff;
    }
    .select-type{
      width: 175px;
      text-align: center;
			&.element{
				padding: 0;
			}
      .dropdown-toggle{
				line-height: 45px;
				height: 45px;
				display: block;
				&:after{
					content: '';
				}
			}

      i{
        font-size: 12px !IMPORTANT;
      }
      ul{
        min-width: 175px;
      }
      li{
        cursor: pointer;
        text-align: center;
        padding: 0;
        margin: 0;
        border-bottom: 1px solid #DCDDDE;
        &:last-child{
          border-bottom: none;
        }
      }
    }

  }
  .neeya-title{
    color: #ffffff;
    width: 10%;
  }

  .neeya-slide{
    z-index: 7;
    margin-top: 45px;
    position: fixed;
    width: 10%;
    min-width: 135px;
//    float: left;
    box-shadow: 2px 0 10px #ccc;
    transition: 1s;
    .transition(all,0.5s);
    li{
      font-family: 'microsoft yahei';
    }
  }
}

.neeya-show-charts{
  .transition(all,0.5s);
  margin-top: 45px;
  .td-hide{
    display: none;
  }
  padding: 10px;
  float: right;
	.show-toolbar{
		li{
			font-size: 16px;
			margin-bottom: 10px;
			cursor: pointer;
			float: left;
			margin-left: 10px;
			padding: 10px;
			color: #ffffff;
			background-color: #00ccff;
			.transition();
			&:hover{
				background-color: #00ff6c;
			}
			&.close-th{
				background-color: #ae00ff;
				float: right;
			}
			&.li-clicked{
				background-color: #00ff6c;
			}
		}
	}
  #neeya-table{
    thead{
      position: relative;
    }
    #dismiss{
      cursor: pointer;
    }
    td{
      text-align: center;
    }
    tr:nth-child(1){
      th:nth-child(-n+2){
          line-height: 50px;
      }
    }
		tbody{
			tr{
				&:nth-child(odd){
					background-color: rgba(28, 183, 236, 0.1);
				}
			}
		}
  }
}
