body {
  margin: 0;
  padding: 0;
  font-family: 'Microsoft YaHei', 'SimHei', 'WenQuanYi Micro Hei', 'Hiragino Sans GB', sans-serif;
  overflow: visible;
}
ul,
ol,
input,
textarea {
  boder: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
li {
  list-style: none;
}
a img {
  border: 0;
}
a {
  text-decoration: none;
}
input {
  outline: none;
}
/* 常用 */
.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
.hide {
  display: none;
}
.pr {
  position: relative;
}
.chartRight {
  width: 90%;
}
.chartFull {
  width: 100%;
}
.leftHide {
  left: -10%;
}
.leftShow {
  left: 0;
}
.metro .navigation-bar {
  z-index: 20;
  position: fixed;
}
.metro .navigation-bar .element {
  cursor: pointer;
}
.metro .navigation-bar #datepicker {
  float: right;
}
.metro .navigation-bar .export-table {
  color: #fff;
}
.metro .navigation-bar .select-type {
  width: 175px;
  text-align: center;
}
.metro .navigation-bar .select-type .dropdown-toggle:after {
  content: '';
}
.metro .navigation-bar .select-type i {
  font-size: 12px !IMPORTANT;
}
.metro .navigation-bar .select-type ul {
  min-width: 175px;
}
.metro .navigation-bar .select-type li {
  cursor: pointer;
  text-align: center;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #DCDDDE;
}
.metro .navigation-bar .select-type li:last-child {
  border-bottom: none;
}
.metro .neeya-title {
  color: #ffffff;
  width: 10%;
}
.metro .neeya-slide {
  z-index: 7;
  margin-top: 45px;
  position: fixed;
  width: 10%;
  min-width: 135px;
  box-shadow: 2px 0 10px #ccc;
  transition: 1s;
  -webkit-transition: all 0.5s ease 0;
  -moz-transition: all 0.5s ease 0;
  -ms-transition: all 0.5s ease 0;
  -o-transition: all 0.5s ease 0;
  transition: all 0.5s ease 0;
}
.metro .neeya-slide li {
  font-family: 'microsoft yahei';
}
.neeya-show-charts {
  -webkit-transition: all 0.5s ease 0;
  -moz-transition: all 0.5s ease 0;
  -ms-transition: all 0.5s ease 0;
  -o-transition: all 0.5s ease 0;
  transition: all 0.5s ease 0;
  margin-top: 45px;
  padding: 10px;
  float: right;
}
.neeya-show-charts .td-hide {
  display: none;
}
.neeya-show-charts .show-toolbar li {
  font-size: 16px;
  margin-bottom: 10px;
  cursor: pointer;
  float: left;
  margin-left: 10px;
  padding: 10px;
  color: #ffffff;
  background-color: #00ccff;
  -webkit-transition: all 1s ease 0;
  -moz-transition: all 1s ease 0;
  -ms-transition: all 1s ease 0;
  -o-transition: all 1s ease 0;
  transition: all 1s ease 0;
}
.neeya-show-charts .show-toolbar li:hover {
  background-color: #00ff6c;
}
.neeya-show-charts .show-toolbar li.close-th {
  background-color: #ae00ff;
  float: right;
}
.neeya-show-charts .show-toolbar li.li-clicked {
  background-color: #00ff6c;
}
.neeya-show-charts #neeya-table thead {
  position: relative;
}
.neeya-show-charts #neeya-table #dismiss {
  cursor: pointer;
}
.neeya-show-charts #neeya-table td {
  text-align: center;
}
.neeya-show-charts #neeya-table tr:nth-child(1) th:nth-child(-n+2) {
  line-height: 50px;
}
.neeya-show-charts #neeya-table tbody tr:nth-child(odd) {
  background-color: rgba(28, 183, 236, 0.1);
}
